<!doctype html>
<html lang="en">
<head>
    <title>work in progress</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <!-- Font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- Main css -->
    <link href="/stylesheets/about.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-fluid" alt="WELL-O-CITY"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="/">HOME <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                                <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
      <header class="bg-gradient" id="home">
        <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
               
                <h3>Features you asked for</h3>
            </div>


            <div class="row">
                <div class="col-12 col-lg-4 col-md-4">
                    <a href="/donate" ><div class="card features" class="rounded-circle" style="background:url('images/donate.png');background-position: center;background-repeat:no-repeat;">
                       
                        <div class="card-body">
                            <div class="media">
                                    <span class="ti-heart gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>                             
                            </div>
                        </div>
                        <p class="text-center"><strong>Donate</strong></h3>
                    </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 col-md-4">
                    <a href="/" ><div class="card features" class="rounded-circle"   style="background:url('images/sell.png'); background-position: center;
                    background-repeat:no-repeat;">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-shopping-cart-full gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                   
                                </div>
                            </div>
                        </div>
                        <p class="text-center"><strong>Sell</strong></h3>
                    </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 col-md-4 ">
                    <a href="/" ><div class="card features" class="rounded-circle"  style="background:url('images/go-green.png'); background-position: center;
                    background-repeat:no-repeat;">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-world gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                   
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                 
                                </div>
                            </div>
                        </div>
                        <p class="text-center"><strong>Buy</strong></h3>
                    </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    </header>
    <div class="jumbotron" style="margin-bottom:5%;padding-left:20%;padding-right:10%;padding-top:7%;padding-bottom:7%;">
        <h2 class="text-center" style="color: black;">Everyone deserves healthcare</h2>
        <h4 class="text-center">Your help funds life-changing healthcare — we prove it by being radically transparent<br>Aiming
             towards maintaining ecological balance</h4>
    </div>
    <div class="container text-center" style="padding-bottom: 10%;">
        <div id=container class="text-center">
            <div id=flip>
              <div><div style="margin:5%;">DONATE</div></div>
              <div><div style="margin:5%;">SELL</div></div>
              <div><div style="margin:5%;">BUY</div></div>
            </div>
          </div>
        <!--<h2 class="text-center" style="padding-top:5%; padding-bottom:5%;">Our approach</h2>-->
            <div class="row" style="padding-top:8%;">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="jumbotron">
                        <br>
                     <div class="text-center light-bg">
                        <a href="#" id ="zoomOut"><img src="images/med.png" class="wow fadeInUp" style="max-width:90%; max-height:100%"></a>
                     </div>
                     <br>

                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-lg-6">
                     <div class="container" style="padding-top:25%;padding-bottom:20%;">
                        <h2 class="text-center">1</h2>
                        <h3 class="text-center">Contribute less to toxic waste</h3>
                        <p class="text-center">Medicinal waste contribute to about 5-15% of the total waste.</p>
                    </div>
                 </div>

             </div>
             <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="container" style="padding-top:25%;padding-bottom:25%;">
                       <h2 class="text-center">2</h2>
                       <h3 class="text-center">Make an impact</h3>
                       <p class="text-center">Lend a helping hand to those in need by donating unused medication. </p>
                   </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="jumbotron">
                        <br>
                     <div class="text-center light-bg">
                        <a href="#" id ="zoomOut"><img src="images/donate2.png" style="max-width:100%; max-height:100%"></a>
                     </div>
                     <br>

                    </div>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="jumbotron">
                        <br>
                     <div class="text-center light-bg">
                        <a href="#" id ="zoomOut"><img src="images/sell2.png" style="max-width:100%; max-height:100%"></a>
                     </div>
                     <br>

                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-lg-6">
                     <div class="container" style="padding-top:16%;padding-bottom:20%;">
                        <h2 class="text-center">3</h2>
                        <h3 class="text-center">Sell your meds at cheaper rates</h3>
                        <p class="text-center">Everyone has a box of unused medicines in their cabinet.</p>
                    </div>
                 </div>

             </div>
        </div>
        
    <footer class="my-5 text-center light-bg" class="heyyy">
        <p class="mb-2"><small>WELL-O-CITY. <br>COPYRIGHT © 2020.</small></p>
        <small>
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>
    </footer>
    <script src="/js/script.js"></script>

    <!-- jQuery and Bootstrap -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
     

</body>

</html>