<!doctype html>
<html lang="en">
<head>
    <title>work in progress</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <!-- Font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- Main css -->
    <link href="/stylesheets/donate.css" rel="stylesheet">
    <!-- <link href="/stylesheets/about.css" rel="stylesheet"> -->

</head>
<body>
    <header>
        <div class="nav-menu fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-dark navbar-expand-lg">
                            <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-fluid" alt="WELL-O-CITY"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            <div class="collapse navbar-collapse" id="navbar">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item"> <a class="nav-link active" href="/">HOME <span class="sr-only">(current)</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="/about">FEATURES</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="/contact">CONTACT</a> </li>
                                    <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="bg-overlay">
        <div class="text-center">
            <h3>Do you have leftover medicines? Donate them!</h3>
            <p>The network for utilisation of leftover medicines.</p>
            <br>
            <a href="#form-fill"><button type="button" class="btn btn-primary btn-lg">Donate</button></a>
        </div>
    </div>
    
    <br><br>
    <div class="container">
        <!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-md-4 mb-4">
  
      <!-- Card -->
      <div class="card gradient-card">
  
          <div class="card-image" style="background-image:url(https://st3.depositphotos.com/14431644/18438/i/1600/depositphotos_184387978-stock-photo-conceptual-hand-writing-text-caption.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
  
            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                <div class="first-content align-self-center p-5">
                  <h3 class="card-title"><br> <br></h3>
                </div>
                <div class="second-content align-self-center mx-auto text-center">
                  <i class="far fa-money-bill-alt fa-3x"></i>
                </div>
              </div>
            </a>
  
          </div>
      </div>
      <!-- Card -->
  
    </div>
    <div class="col-md-4 mb-4">
      <div class="card gradient-card">
  
          <div class="card-image animated bounce infinite" alt="Transparent MDB Logo"" style="background-image: url(https://thumbs.dreamstime.com/z/conceptual-hand-writing-text-caption-inspiration-medical-care-health-concept-written-pills-drugs-capsule-word-pain-season-101975704.jpg);background-position: center;background-size: cover;background-repeat: no-repeat; ">
  
            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                <div class="first-content align-self-center p-5">
                    <h3 class="card-title"><br> <br></h3>
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                  <i class="fas fa-chart-line fa-3x"></i>
                </div>
              </div>
            </a>
  
          </div>
  
      </div>
      <!-- Card -->
  
    </div>
    <div class="col-md-4 mb-4">
  
      <!-- Card -->
      <div class="card gradient-card">
  
          <div class="card-image" style="background-image: url(https://thumbs.dreamstime.com/b/conceptual-hand-writing-text-caption-inspiration-medical-care-health-concept-written-pills-drugs-capsule-word-hormones-season-101975843.jpg); background-position: center;background-size: cover;background-repeat: no-repeat;">
  
            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                <div class="first-content align-self-center p-5">
                    <h3 class="card-title"><br> <br></h3>
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                  <i class="fas fa-chart-pie fa-3x"></i>
                </div>
              </div>
            </a>
          </div>
      </div>
  
    </div>
    <div class="col-md-4 mb-4">
  
        <!-- Card -->
        <div class="card gradient-card">
    
            <div class="card-image" style="background-image: url(https://thumbs.dreamstime.com/z/hand-writing-text-caption-inspiration-medical-care-concept-written-pills-drugs-capsule-word-antidote-white-hand-writing-144954688.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
    
              <!-- Content -->
              <a href="#!">
                <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                  <div class="first-content align-self-center p-5">
                    <h3 class="card-title"><br> <br></h3>
                  </div>
                  <div class="second-content  align-self-center mx-auto text-center">
                    <i class="fas fa-chart-pie fa-3x"></i>
                  </div>
                </div>
              </a>
            </div>
        </div>
    
      </div>
      <div class="col-md-4 mb-4">
  
        <!-- Card -->
        <div class="card gradient-card">
    
            <div class="card-image" style="background-image: url(https://static1.bigstockphoto.com/8/0/2/large1500/208998730.jpg); background-position: center;background-size: cover;background-repeat: no-repeat;">
    
              <!-- Content -->
              <a href="#!">
                <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                  <div class="first-content align-self-center p-5">
                    <h3 class="card-title"><br> <br></h3>
                  </div>
                  <div class="second-content  align-self-center mx-auto text-center">
                    <i class="fas fa-chart-pie fa-3x"></i>
                  </div>
                </div>
              </a>
            </div>
        </div>
    
      </div>
    <div class="col-md-4 mb-4">
  
      <!-- Card -->
      <div class="card gradient-card">
  
          <div class="card-image" style="background-image: url(https://media.istockphoto.com/photos/conceptual-hand-writing-text-caption-inspiration-medical-care-health-picture-id862538550?k=6&m=862538550&s=170667a&w=0&h=1lm45Qjoz6IdsFINciOtuDzpD7nyuQJJSS18quHsv2U=); background-position: center;background-size: cover;background-repeat: no-repeat;">
  
            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
                <div class="first-content align-self-center p-5">
                    <h3 class="card-title"><br> <br></h3>
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                  <i class="fas fa-chart-line fa-3x"></i>
                </div>
              </div>
            </a>
          </div>

      </div>
    </div>
  </div>
    </div>


    <div class="jumbotron" style="margin-top:5%">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-md-9">
                    <h2>How Donate-cart works?</h2>
                </div>
                <div class="col-xl-3 col-md-3">
                  <a href=""><button class="btn btn-outline-light">Donate Now</button></a>
                </div>
            </div>
            <div class="container" style="margin-top:5%">
                <div class="row">
                    <div class="col-xl-3 col-md-3">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <img src="images/cause.png">
                                </a>
                            </li>
                        </ul>
                        <h2>CHOOSE A CAUSE</h2>
                        <p>................</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <img src="images/category.png">
                                </a>
                            </li>
                        </ul>
                        <h2>CHOOSE A CAUSE</h2>
                        <p>................</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <img src="images/donate-icon.png">
                                </a>
                            </li>
                        </ul>
                        <h2>CHOOSE A CAUSE</h2>
                        <p>................</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <img src="images/cause.png">
                                </a>
                            </li>
                        </ul>
                        <h2>CHOOSE A CAUSE</h2>
                        <p>................</p>
                    </div>
                 
                </div>          
        </div>
    </div>
</div>



    <div class="container" style="padding-top:3%;">
        <div class="container register" id="form-fill">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="/images/LOGO.PNG" alt=""/>
                    <h3>Thank you</h3>
                    <p>You are just 30 seconds away.  !</p>
                    <input type="submit" name="" value="Buy"/><br/>
                </div>
                <div class="col-md-9 register-right">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sell</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Fill The Form</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div id="one">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                                <!--check this part afterwards-->
                                                <select class="form-control">
                                                    <option class="hidden"  selected disabled>Please select the kind of medicine</option>
                                                    <option>Med 1</option>
                                                    <option>Med 2</option>
                                                    <option>Med 3</option>
                                                    <option>Med 1</option>
                                                    <option>Med 2</option>
                                                    <option>Med 3</option>
                                                    <option>Med 1</option>
                                                    <option>Med 2</option>
                                                    <option>Med 3</option>
                                                </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name of medicine *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Expiry date of medicine *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="test 1 *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="test 2 *" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="two">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Donate"/>
                                        <button onclick="addcode()" class="btnRegister">Add Another</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            function addcode(){
                                document.getElementById("one").insertAdjacentHTML("afterend", `<div class="form-group">
                                                <!--check this part afterwards-->
                                                <select class="form-control">
                                                    <option class="hidden"  selected disabled>Please select the kind of medicine</option>
                                                    <option>Med 1</option>
                                                    <option>Med 2</option>
                                                    <option>Med 3</option>
                                                    <option>Med 1</option>
                                                    <option>Med 2</option>
                                                    <option>Med 3</option>
                                                    <option>Med 1</option>
                                                    <option>Med 2</option>
                                                    <option>Med 3</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name of medicine *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Expiry date of medicine *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="test 1 *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"  placeholder="test 2 *" value="" />
                                            </div>`);
                            }
                        </script>

                        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3  class="register-heading">Fill The Form to Sell</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div id="oneSell">
                                           <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                            </div>
                                            <div class="form-group">
                                                    <!--check this part afterwards-->
                                                    <select class="form-control">
                                                        <option class="hidden"  selected disabled>Please select the kind of medicine</option>
                                                        <option>Med 1</option>
                                                        <option>Med 2</option>
                                                        <option>Med 3</option>
                                                        <option>Med 1</option>
                                                        <option>Med 2</option>
                                                        <option>Med 3</option>
                                                        <option>Med 1</option>
                                                        <option>Med 2</option>
                                                        <option>Med 3</option>
                                                    </select>
                                                </div>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Name of medicine *" value="" />
                                                </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Expiry date of medicine *" value="" />
                                            </div>
                                                <input type="password" class="form-control" placeholder="test 1 *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"  placeholder="test 2 *" value="" />
                                            </div>
                                    </div>
                                </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Sell"/>
                                            <button onclick="addcodeSell()" class="btnRegister">Add Another</button>
                                        </div>
                                    </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>


    <script>
        function addcodeSell(){
            document.getElementById("oneSell").insertAdjacentHTML("afterend", `<div class="form-group">
                                                    <!--check this part afterwards-->
                                                    <select class="form-control">
                                                        <option class="hidden"  selected disabled>Please select the kind of medicine</option>
                                                        <option>Med 1</option>
                                                        <option>Med 2</option>
                                                        <option>Med 3</option>
                                                        <option>Med 1</option>
                                                        <option>Med 2</option>
                                                        <option>Med 3</option>
                                                        <option>Med 1</option>
                                                        <option>Med 2</option>
                                                        <option>Med 3</option>
                                                    </select>
                                                </div>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Name of medicine *" value="" />
                                                </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Expiry date of medicine *" value="" />
                                            </div>
                                                <input type="password" class="form-control" placeholder="test 1 *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"  placeholder="test 2 *" value="" />
                                            </div>`);
        }
    </script>
        
        
    <footer class="my-5 text-center light-bg" class="heyyy">
        <p class="mb-2"><small>WELL-O-CITY. <br>COPYRIGHT © 2020.</small></p>
        <small>
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="app.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Custom JS -->
     <script src="/js/script.js"></script>

</body>
</html>



