<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sample website using Bootstrap and ExpressJS</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
  <div>
      <div class="nav-menu fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <nav class="navbar navbar-dark navbar-expand-lg">
                          <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-fluid" alt="WELL-O-CITY"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                          <div class="collapse navbar-collapse" id="navbar">
                              <ul class="navbar-nav ml-auto">
                                  <li class="nav-item"> <a class="nav-link active" style="color:black;" href="/"><strong>HOME</strong><span class="sr-only">(current)</span></a> </li>
                                  <li class="nav-item"> <a class="nav-link" style="color:black;" href="/about"><strong>ABOUT</strong></a> </li>
                                  <li class="nav-item"> <a class="nav-link" style="color:black;" href="/contact"><strong>CONTACT</strong></a> </li>
                  
                                  <li class="nav-item"><a href="#" style="color:black;" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
      <div>
  <div class="bg-overlay">
      <div class="container">
          <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6" id="mid1">
                  
                      <h1 class="text-center">Well-O-City</h1>
                      <h3  class="text-center">The Environment Friendly Medicello App</h3>
                      <hr>
                        <div class="text-center"><a href="/login" class="btn btn-outline-info wow fadeInLeft text-center" data-wow-delay="0.3s">Getting Started</a></div>
                          <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                          <h6 class="mb-3 wow fadeInLeft  text-justify" data-wow-delay="0.3s">
                             Everyone deserves healthcare!
                          100% of your donation funds life-changing healthcare — we prove it by being radically transparent.
                          Our vision is to bring more transparency to online donations, so that we provide an opportunity for every Indian & NRI to give back to the society confidently.</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6" id="mid2">
                
                   <div class="card wow fadeInRight" data-wow-delay="0.3s">
                      <div class="card-body">
                   
                        <div class="text-center">
                          <h3 class="white-text">
                            Register:</h3>
                          <hr class="hr-light">
                        </div>
                     
                        <div class="md-form">
                          <label for="form3" class="active">Your name</label>
                          <input type="text" id="form3" class="white-text form-control">
                        </div>
                        <div class="md-form">
                          <label for="form2" class="active">Your email</label>
                          <input type="email" id="form2" class="white-text form-control" required="required">
                        </div>
                        <div class="md-form">
                          <label for="form4">Your password</label>
                          <input type="password" id="form4" class="white-text form-control" minlength="6" maxlength="14" required="required">
                        </div>
                        <div class="text-center mt-4">
                         <a href="/login"> <button class="btn btn-success">Sign up</button></a>
                          <h4 class="white-text" style="padding-top:5px;">Already a registered user?<a href="/login"><strong> Log-in</strong></a></h4>
                          <hr class="hr-light mb-3 mt-4">
                        </div>
                      </div>
                    </div>
          </div>
          </div>
          </div> 
</div>
     

        <footer class="my-5 text-center" class="heyyy">
          <p class="mb-2"><small>WELL-O-CITY. <br>COPYRIGHT © 2020.</small></p>
          <small>
              <a href="#" class="m-2">PRESS</a>
              <a href="#" class="m-2">TERMS</a>
              <a href="#" class="m-2">PRIVACY</a>
          </small>
      </footer>
  
        <script>
          // Animations init
          new WOW().init();
        </script>
 

<script src="app.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>